    /* master profile */
    .boxProf {
        width: 100%;
        height: auto;
        border: 1px solid;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
        margin-top: 20px;
        border-radius: 5px;;
        overflow: hidden;
        background-color: #fff;
        opacity: 0.8;

    }

    .colorStatus {
        width: 100%;
        height: 60px;
        background-color: gray;
        border-bottom: 1.5px solid rgb(78, 74, 74);
    }

    .edit {

        max-width: 90px;
        max-height: auto;
        border-radius: 50%;
        border: 1px solid gray;
        overflow: hidden !important;
        display: block;
        margin: 0 auto;
        margin-top: -12%;
        z-index: 100;
    }

    .edit img {
        z-index: 110;
    }

    #iconEdit {
        margin: 0 auto;
        margin-top: -10px;
        background: #262626;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        z-index: 999;
    }

    #iconEdit p {
        margin-bottom: 0 !important;
    }

    #iconEdit Img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        color: #262626;
        cursor: pointer;
    }

    h5 {
        margin-top: 8px;
    }

    .buttonAction {
        border-top: 1px solid gray;
        margin-top: 40px;
        height: 60px;
    }

    .borderButton {
        border-left: 1px solid gray;
        line-height: 30px;
        background-color: rgba(255, 255, 255, 0.932);
    }
    .imgDanger {
        width: 90px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 20px !important;

    }



    /* redirect */
    .redirect{
        width: 100%;
        height: auto;
        border: 1px solid #000;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
        border-radius: 5px;
        background-color: #fff;
        opacity: 0.8;
    }
    
    .redirect #headerRedirect{
        height: 50px;
        border-bottom: 1px solid #000;
    }
    .redirect #headerRedirect h5{
        margin: 0;
        line-height: 50px;
    }
    .redirect #headerRedirect #triangle-down{
        transition: 300ms;
    }

    .redirect .items{
        width: 100%;
        height: auto;
        overflow: hidden;
        /* background-color: red; */
    }
    .redirect .items .item{
        height: 40px;
        font-size: 15px;
        transition: 300ms;

    }
    .redirect .items a{
        color: #000;

    }
    .redirect .items .item:hover{
        margin-right: 30px;
        font-size: 17px;
        background-color: #d3d2d2;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

    }
    .redirect .items .item.ac{
        margin-right: 30px;
        font-size: 17px;
        background-color: #d3d2d2;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 300ms;

    }
    .redirect .items .item p{
       margin: 0;
       line-height: 40px
    }
    .redirect .items .item img{
       /* display: block; */
       margin-top: 10px;
    }
    .redirect .items .item img,.redirect .items .item p{
       float: right;
       margin-right: 10px
    }
   

    /* redirect */
    /* master profile */