@font-face {
    font-family: "IRANSansWeb";
    src: url(fonts/IRANSansWeb.ttf);
}
body {

    font-family: "IRANSansWeb";
    /* background-image: url('/img/bit61.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    
  }
  
  h1,h2,h3,h4,h5,h6,h7{
      font-family: "IRANSansWeb";
  }


#load {
	margin:0;
	padding:0;

	
    position:fixed;
    top: 0;
    left: 0;
	width:100%;
	height:100%;
    background-color:#fff;
    z-index: 999999999;
	
}


#load img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:48vh;

}



#headerMobile ul li{
    line-height: 40px;
}
#headerMobile1 ul li{
    line-height: 40px;
}

.fontBold{
    font-family: 'IRANSansWeb';
    font-weight:550;
}
header{
    width: 100%;
    height: 62px;
  
}
.gradientX{
    background-image: linear-gradient(145deg, #B8E4AF 30%, #64B3F4 100%) !important;
}


.bgHeaderFirst{
    background-color : #fdcb6e;
    color: #fff;
    transition: 500ms;
    
}
.bgHeaderFirst a{
   color : white;
   text-decoration: none;
    
}
.bgHeaderFirst a:hover{
   color : black;
   text-decoration: none;
    
}

.bgHeaderFirst #navx li:hover{
    color: #000;
}




.bgHeaderSecend{
    background-color: #fff;
    color: #000;
    transition: 500ms;
}
.bgHeaderSecend a{
    color: #000;
    text-decoration: none;
}
.bgHeaderSecend #logo{
    color: #000;
}
.bgHeaderSecend #tool{
    color: #000;
}




nav li{
    float: right;
    list-style-type: none;
    line-height: 62px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    /* font-weight: bold; */
    font-size: 18px;
    cursor: default;
    /* color: #fff; */
    text-shadow: 0px 8px 10px #00000000;
    transition: 500ms;
}
nav li:hover{

    margin-top: -5px !important;
    text-shadow: 0px 11px 10px #00000012;
}
#logo{
    font-size: 120%;
    color: #fff;
    display: inline !important;
    float: right !important;
    line-height: 62px;
    margin-right: 30px !important;
    transition: 500ms;
}
nav #tool{
    
    float: left !important;
    position: absolute !important;
    left: 25px !important;
    transition: 500ms;
}
nav #tool .iconToolNav{
    height: 20px !important; width: 20px !important;
    color: #fff;
    transition: 500ms;

} 

nav #tool li{
    float: left;
    list-style-type: none;
    line-height: 62px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    cursor: default;
    color: #fff;
    text-shadow: 0px 8px 10px #00000012;
    transition: 500ms;
}
#liUser{
    max-width: 180px !important; 
}
.badgeCustom{
    position : relative; top:-8px; left:-22px; font-size : 12px;
}

#tool #sech{
    padding-right: 0px !important;
    
}
.uk-badge{
    transition: 500ms;
}
nav #tool li i:hover{
    text-shadow: 0px 11px 10px #00000012;
    margin-top: -3px !important;
    color: rgba(33, 33, 33, 0.407);
}
#search{
    margin-top: 15px !important;
    float: left;
    overflow: hidden;
    border: 1px solid #ffffffbd;
    transition: 500ms;
    height: 35px !important;
    background-color: transparent !important;
    border-radius: 7px 7px 7px 7px !important;
    width: 230px;
    outline: none;
}
#searchIcon{
    width: auto !important;
    height: auto !important;
    position: fixed !important;
    left: 80px !important;
    top: 22px !important;
    overflow: hidden !important;
}
#searchInput{
    border: 1px solid #ffffffbd;
    border-radius:7px;
    width: 0px !important;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.318) !important;
    background-color: transparent !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    outline: none;
    
}
.triangle{
    transition: 300ms;
}

/* navBar-Mobile borderRaadius*/
.noBorderRadius{
    border-radius: 3px !important;
    color: #fff !important;
}


main{
    margin-top: 62px !important;
}




footer{
    background-color : #feca57;
    width: 100% !important;
    height: auto !important;
    position: relative;
    bottom: 0;
    left: 0;

}
footer .footerSection{
    float: right !important;
    margin-top: 70px !important;
    margin-left: 80px !important;
    margin-right: 50px !important;

}
footer .footerSection p{
    text-align: right !important;

}
footer img{
    display: block !important;
    width: 160px;
    height: auto;

}


#sliderButton{
    margin-bottom: -5px !important;
    z-index: 10000 !important;
    
}
#sliderBox{
    overflow: hidden !important;
    border-radius: 20px 20px 20px 20px !important;
}

#slider2 , #slider3 , #slider4 h1{
    text-shadow: 0px 11px 20px #000000;
}


#slider2 li{
    border-radius: 20px !important;
    overflow: hidden !important;
    transition: 200ms;
    padding-left: 0px !important;
    margin-left: 40px !important; 
}
#slider2 li:hover{
    filter: grayscale(100%) blur(5px);
}




#slider3 li img{
    border-radius: 20px !important;
    overflow: hidden !important;
    transition: 200ms;
}
#slider3 li img:hover{
    filter: grayscale(100%) blur(5px);
}



#slider4 li img{
    border-radius: 20px !important;
    overflow: hidden !important;
    transition: 200ms;
}
#slider4 li img:hover{
    filter: grayscale(100%) blur(5px);
}



#products .product img{

width: 90% !important;
border: 1px solid #0000002b !important;
box-shadow: 0px 3px 5px #00000062 !important;
margin-top: -40px !important;
border-radius: 5px !important;
max-height: 200px;
                }
#products .product .boxProducts{
    border: 1px solid #0000002b;
    box-shadow: 0px 3px 5px #00000062 !important;
    border-radius: 5px;
    height: auto !important;
    }

#products .product .boxProducts .textBox{
    width: 85%;
    height: auto !important;
    margin: 0 auto;
}
#products .product .boxProducts .textBox .heightText{
    max-height: 100px;
    overflow: hidden;
    margin-top: 35px;
}
#products .product .boxProducts .textBox .heightText p{
   line-height: 33px;
   margin:0 !important  ;
}
.defaultBookmarked{
    fill : none;
    stroke: black;
}
.clickedBookmarked{
    fill : #000;
    stroke: #000;
    
}
.clickForSize{
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 0px;
}
.clickedForSize{
    width: 26px;
    height: 26px;
    margin-top: -2px;
    margin-right: -2px;
}
.bookmarked svg{
    transition: 200ms;
    animation-timing-function: ease-in;
}
#userIcon{
    width: 20px; height: 20px;
    cursor: pointer;
}
#shopIconMargin{
    margin-top: 4px;
    cursor: pointer;
}


.price1{
    width: 180px;
    text-align: left;
}
#detailsBody{
    line-height: 32px
}
    /*NotCopy
    .bordehr{
        border : 1px solid gray;
        width: 30px;
        height: -px;
    }
    .bannerDetails{
        text-align: justify;
        text-justify: inter-word;
        color : #fff;
    }
    NotCopy*/
.allDetails{
    margin-top: 80px;
}
.noRadius{
    border-radius: 2px !important;
}
.edit {

    max-width: 90px;
    max-height: auto;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden !important;
    display: block;
    margin: 0 auto;
    margin-top: -12%;
}




/* drop hover */









.boxProf1 {
    width: 100%;
    height: auto;

    padding: 10px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 20px !important;


}
.dropHover1{
    border: 1px solid rgba(0, 0, 0, 0.783);
    border-radius: 5px;
}

#iconEdit1 {
    margin-top: -10px;
}

#iconEdit1 p {
    margin-bottom: 0 !important;
}

#iconEdit1 Img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    color: #FF806C;
   cursor: pointer;
}

.h5name{
    margin-top: 8px;
}

.edit1{

    max-width: 90px;
    max-height: auto;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden !important;
    display: block;
    margin: 0 auto;
    margin-top: -12%;
}

.colorStatus1 {
    width: 100%;
    height: 60px;
    background-color: rgba(72, 94, 202, 0.653);
    border-bottom: 1.5px solid gray;
}

.buttonAction1 {
    border-top: 1px solid gray;
    margin-top: 40px;
    height: auto;
}
.buttonAction1 a{
    color: #000;
}
.buttonAction2 a{
    color: #000;
    height: 90px;
}
.buttonAction2 a:hover{
    color: #000;
}
.buttonAction2 p{
    margin-top: 0;
}
.buttonAction1 p{
    margin: 0;
}

#borderLeft1 {
    border-left: 1px solid gray;
}
